$table-header       : #6d8dce;
$table-header-border: #6d8dce;
$table-border       : #d9d9d9;
$row-bg             : #f4f2f1;
$header-bg          : #1565C0;

.row-align {
  display        : flex;
  justify-content: space-between;
  // align-items : center;
}

@mixin boxshadow {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

@mixin div-container {
  padding      : 2rem 1rem;
  border-radius: 5px;
  @include boxshadow;
}

.dynamic-template-container {

  .main-container {
    display        : flex;
    justify-content: space-between;
    flex-wrap      : wrap;
    flex-direction : row;
  }

  .left-container {
    display             : flex;
    flex-direction      : column;
    // flex             : 1 1 70%;
    margin              : 0 2rem;
    // flex             : 1;
    flex                : 1;
  }

  .right-container {
    display          : flex;
    flex-direction   : column;
    // flex          : 1 1 20%;
    margin           : 0 2rem;
    flex             : 1;
    @include div-container
  }

  span {
    &.close {
      font-size: 2rem;
      cursor   : pointer;
      padding  : 0 12px;
    }
  }

  .sticky-col {
    position        : sticky;
    position        : -webkit-sticky;
    background-color: white;
    // box-shadow   : 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  }

  .first-col {
    width              : 120px;
    min-width          : 120px;
    max-width          : 120px;
    left               : 0px;
    // background-color: #cccccc;
    // &td             :nth-child(even){background-color: #d2f376;}

  }

  .second-col {
    width        : 100px;
    min-width    : 100px;
    max-width    : 100px;
    left         : 142px;
    // box-shadow: 8px 0 10px -3px #888;
  }


  .table-scroll {
    // transition: all 400ms ease-in-out;
    // transform : scale(0.8);
    position     : relative;
    max-width    : 700px;
    margin       : auto;
    // margin    : 40px auto 40px auto;
    overflow     : hidden;
    // border    :1px solid #000;
    // display   : flex;
  }

  .table-wrap {
    width   : 100%;
    overflow: auto;

    table {
      th {
        background-color: $table-header;
        color           : white;
      }

      tbody .sticky-col {
        td:nth-child(even) {
          background-color: #efefef;
        }
      }

      td .chk-box {
        input[type="checkbox"i] {
          width : 19px;
          height: 19px;
        }
      }
    }
  }

  .table-scroll table {
    width          : 100%;
    margin         : auto;
    border-collapse: separate;
    border-spacing : 0;
    // z-index     : 99 !important;
  }

  .table-scroll th,
  .table-scroll td {
    padding       : 5px 10px;
    border        : 1px solid #c0c0c0;
    // background :#fff;
    white-space   : nowrap;
    vertical-align: top;
    // z-index    : 99 !important;
  }

  .table-scroll thead,
  .table-scroll tfoot {
    background: #f9f9f9;
  }

  // // .flash::first-line{
  //   .flash{
  //     // border                : 1px gold solid;
  //     // background-color      : gold;
  //     animation                : blink 1s;
  //     animation-iteration-count: 3;
  //     // animation             : blink 1.5 linear 0 3 forwards both;
  //   }

  // .mat-input-element:disabled {
  //   color              : rgba(0,0,0,.38);
  //   /* background-color: red; */
  //   color              : red;
  //   font-size          : 88%;
  // }

  .flash {
    -moz-transition      : all 0.5s ease-in-out;
    -webkit-transition   : all 0.5s ease-in-out;
    -o-transition        : all 0.5s ease-in-out;
    -ms-transition       : all 0.5s ease-in-out;
    transition           : all 0.5s ease-in-out;
    // -moz-animation    : flash 0.6s cubic-bezier(1, -0.7, 0, 1.68) 3;
    // /* Firefox */
    // -webkit-animation: flash 0.6s cubic-bezier(1, -0.7, 0, 1.68) 3;
    // /* Webkit */
    // -ms-animation: flash 0.6s cubic-bezier(1, -0.7, 0, 1.68) 3;
    -moz-animation  : flash 0.6s ease-in-out 2;
    /* Firefox */
    -webkit-animation: flash 0.6s ease-in-out 2;
    /* Webkit */
    -ms-animation: flash 0.6s ease-in-out 2;
    animation    : flash 0.6s ease-in-out 2;
  }

  .blink {
    @include boxshadow;
    -moz-transition   : all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition     : all 0.5s ease-in-out;
    -ms-transition    : all 0.5s ease-in-out;
    transition        : all 0.5s ease-in-out;
    -moz-animation    : blink 0.6s linear 2;
    // /* Firefox */
    -webkit-animation: blink 0.6s linear 2;
    // /* Webkit */
    -ms-animation: blink 0.6s linear 2;
    // /* IE */
    // animation: blink normal 1.5s 2 ease-in-out;
    /* Opera */
    animation   : blink 0.6s linear 2;
    // animation: blink 0.6s cubic-bezier(0.96,-0.83, 0, 1.96) 2;
    // animation: blink 0.6s cubic-bezier(0.84, 0.93, 0, 1.52) 2;
    // animation: blink 1s timing-function delay iteration-count direction fill-mode;
  }

  .btn-circle {
    .red {
      // position     : fixed;
      // bottom       : 6rem;
      // right        : 2.5rem;
      color           : #fff;
      background-color: #ff1c00;
    }

    .btn-fab {
      min-width                  : 0;
      border-radius              : 50%;
      width                      : 20px;
      height                     : 20px;
      padding                    : 0;
      flex-shrink                : 0;
      transition                 : background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
      box-sizing                 : border-box;
      // position                : relative;
      -webkit-user-select        : none;
      -moz-user-select           : none;
      -ms-user-select            : none;
      user-select                : none;
      cursor                     : pointer;
      outline                    : 0;
      border                     : none;
      -webkit-tap-highlight-color: transparent;
      display                    : inline-block;
      white-space                : nowrap;
      text-decoration            : none;
      vertical-align             : baseline;
      text-align                 : center;
      margin                     : 0;
      // font-family             : Roboto,"Helvetica Neue",sans-serif;
      font-size                  : 100%;
      font-weight                : 500;

      .btn-wrapper {
        // padding  : 8px 0;
        display     : inline-block;
        // transform: translate3d(0,0,0);
        transform   : scale(1.5) rotate(36deg);
      }
    }

    .btn-fab:hover {
      @include boxshadow;
    }

    .btn-ripple {
      top           : 0;
      left          : 0;
      right         : 0;
      bottom        : 0;
      position      : absolute;
      pointer-events: none;
      overflow      : hidden;
      border-radius : 50%;
      z-index       : 1;
    }

    .btn-overlay {
      background-color: rgba(0, 0, 0, .12);
      border-radius   : inherit;
      opacity         : 0;
      transition      : opacity .2s cubic-bezier(.35, 0, .25, 1), background-color .2s cubic-bezier(.35, 0, .25, 1);
    }

  }

  .information-container {
    @include div-container;
    //           ::ng-deep .mat-focused .mat-form-field-label {
    //   /*change color of label*/
    //   color: green !important;
    //  }

    //  ::ng-deep.mat-form-field-underline {
    //   /*change color of underline*/
    //   background-color: green !important;
    // }

    // ::ng-deep.mat-form-field-ripple {
    //  /*change color of underline when focused*/
    //  background-color: green !important;;
    // }
  }

  .res-tbl-container {
    // @include div-container
  }

  .hinge {
    @include boxshadow;
    animation-duration: 1s;
    animation-name    : hinge;
    animation-delay   : 0.3s;
    // z-index        : 99999999;
    // background-color:
  }

  .mfp-with-fade {

    // before-open state
    .mfp-content,
    &.mfp-bg {
      opacity   : 0;
      transition: opacity .5s ease-out;
    }

    // open state
    &.mfp-ready {
      .mfp-content {
        opacity: 1;
      }

      &.mfp-bg {
        opacity: 0.8; // background opacity
      }
    }

    // closed state
    &.mfp-removing {
      &.mfp-bg {
        opacity: 0;
      }
    }
  }

  /* hing end*/

  /**
* Loader
*/

  $loaderColor: #000000;

  .loader,
  .loader:before,
  .loader:after {
    border-radius              : 50%;
    width                      : 2.5em;
    height                     : 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode        : both;
    -webkit-animation          : load7 1.8s infinite ease-in-out;
    animation                  : load7 1.8s infinite ease-in-out;
  }

  .loader {
    color                  : $loaderColor;
    font-size              : 10px;
    margin                 : 80px auto;
    position               : relative;
    text-indent            : -9999em;
    -webkit-transform      : translateZ(0);
    -ms-transform          : translateZ(0);
    transform              : translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay        : -0.16s;
    transform              : scale(.5);
  }

  .loader:before,
  .loader:after {
    content : '';
    position: absolute;
    top     : 0;
  }

  .loader:before {
    left                   : -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay        : -0.32s;
  }

  .loader:after {
    left: 3.5em;
  }

  /**keyframes*/

  @-webkit-keyframes load7 {

    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }

  @keyframes load7 {

    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }

  /*

====== "Hinge" close effect ======

*/

  @keyframes hinge {
    0% {
      transform                : rotate(0);
      transform-origin         : top left;
      animation-timing-function: ease-in-out;
    }

    20%,
    60% {
      transform                : rotate(80deg);
      transform-origin         : top left;
      animation-timing-function: ease-in-out;
    }

    40% {
      transform                : rotate(60deg);
      transform-origin         : top left;
      animation-timing-function: ease-in-out;
    }

    80% {
      transform                : rotate(60deg) translateY(0);
      opacity                  : 1;
      transform-origin         : top left;
      animation-timing-function: ease-in-out;
    }

    100% {
      transform: translateY(700px);
      opacity  : 0;
    }
  }

  @-moz-keyframes blink {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }

  /* Firefox */
  @-webkit-keyframes blink {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }

  /* Webkit */
  @-ms-keyframes blink {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }

  /* IE */
  @keyframes blink {
    0% {
      opacity: 1;

    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }

  /* Opera */

  @keyframes flash {
    0% {
      opacity: 0;
      color  : #4c64d3;
    }

    50% {
      opacity  : .5;
      font-size: 105%;
      text-shadow: 0px 3px 0px #b2a98f,
        0px 14px 10px rgba(0, 0, 0, 0.15),
        0px 24px 2px rgba(0, 0, 0, 0.1),
        0px 34px 30px rgba(0, 0, 0, 0.1);
      color: #4c64d3;
    }

    100% {
      opacity  : 1;
      color    : #000000;
      font-size: 100%
    }
  }







  @media screen and (min-width: 640px) {
    .main-container {
      // flex-direction: row;
      // flex-wrap     : wrap;
    }
  }

  @media screen and (max-width: 600px) {
    .main-container {
      // flex-direction: row;
      // flex-wrap     : wrap;
    }
  }

  @media screen and (max-width: 480px) {}



  /*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
  @media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top     : -9999px;
      left    : -9999px;
    }

    .table-scroll th,
    .table-scroll td {
      padding-left: 50%;;
    }
    .sticky-col {
      width: unset;
      min-width: unset;
      max-width: unset;
      left: unset;
    }

    tr {
      margin: 0 0 1rem 0;
    }

    tr:nth-child(odd) {
      background: #ccc;
      .sticky-col {
        background: #ccc;
      }
    }

    td {
      /* Behave  like a "row" */
      border       : none;
      border-bottom: 1px solid #eee;
      position     : relative;
      padding-left : 50%;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top          : 0;
      left         : 6px;
      width        : 45%;
      padding-right: 10px;
      white-space  : nowrap;
    }

    /*
  Label the data
  You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
  */
    td:nth-of-type(1):before {
      content: "Freeze column";
    }

    td:nth-of-type(2):before {
      content: "Actions";
    }

    td:nth-of-type(3):before {
      content: "Header 2";
    }

    td:nth-of-type(4):before {
      content: "Header 3";
    }

    td:nth-of-type(5):before {
      content: "Header 4";
    }

    td:nth-of-type(6):before {
      content: "Header 5";
    }

    td:nth-of-type(7):before {
      content: "Header 6";
    }

    td:nth-of-type(8):before {
      content: "Header 7";
    }

    td:nth-of-type(9):before {
      content: "Header 12";
    }

    // td:nth-of-type(10):before { content: "Arbitrary Data"; }
  }


}
