<div class="dynamic-template-container" id='dynamic-template-container'>

  <h3>Dynamically <small class="text-muted"> bind Ng Content & Template + Element Loader</small></h3>

  <div class="main-container">

    <div class="right-container">
      <div class="table-container">
        <div class="links">
          <!-- <button type="submit" (click)="openPopup(true)">Open Popup</button> -->
          <!--  -->
          <a appInsertion id="loadingLink" href="javascript:void(0)" (click)="openPopup(true)">Open Popup</a>
        </div>

        <br>
        <hr>
        <div class="display-info">
          <div appInsertion id="loadingDiv"></div>
          <ng-container [ngTemplateOutlet]="tableTmpl"
            [ngTemplateOutletContext]="{data:gridData, columns: columnDef, gridId: gridId}">
          </ng-container>
          <!-- <ng-container
            [ngTemplateOutlet]="tableTmpl"
            [ngTemplateOutletContext]="{data:gridData2, columns: columnDef2, gridId: gridId2}">
          </ng-container> -->
        </div>
      </div>

    </div>

    <div class="left-container">
      <div class="inner-left">

        <div class="information-container">
          <ng-template #informationTmpl [ngIf]='true'>
            <div class="template-container row-align">
              <div>
                <!-- validateOnly='true' [keyFilter]='blockSpace' -->
                <mat-form-field class="highlight" id='empName'>
                  <mat-label>Employer Name</mat-label>
                  <input matInput [disabled]="true" name='empName' placeholder="Employer Name"
                    [(ngModel)]="selectedData.name">
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="highlight" id='address'>
                  <mat-label>Employer Address</mat-label>
                  <input matInput name='address' placeholder="Employer Address" keyFilter='pint'
                    [(ngModel)]="selectedData.address">
                </mat-form-field>
              </div>
              <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </ng-template>
        </div>

        <div class="complex-table">
          <table>
            <tbody>
              <tr>
                <td> Fardeen </td>
                <td colspan="2"> Ahmad </td>
                <td> Siraj </td>
              </tr>
              <tr>
                <td> Shavez </td>
                <td colspan="2"> Rais Bano </td>
                <td> Rais Fatima </td>
              </tr>
              <tr>
                <td> Mariyam </td>
                <td> Abbas </td>
                <td> Farhat </td>
                <td rowspan="3"> Lucknow </td>
              </tr>
              <tr>
                <td> Uttar Pradesh </td>
                <td colspan="2"> Kanpur </td>
              </tr>
              <tr>
                <td> Madhiya </td>
                <td> 45698 </td>
                <td> 12365 </td>
              </tr>
              <tr>
                <td> Rajisthan </td>
                <td colspan="2" rowspan="3"> &nbsp; India </td>
                <td> Unnao </td>
              </tr>
              <tr>
                <td> Bihar </td>
                <td> Charbhag </td>
              </tr>
              <tr>
                <td> Patna </td>
                <td> Hazratganj </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="loader-container">
          <ng-template #loader [ngIf]="isLoading">
            <div class="loader">Loading...</div>
          </ng-template>
          <hr><br>

        </div>

      </div>

    </div>

  </div>


  <!-- <div class="res-tbl-container">
      <div class="row-align">-->
  <!-- <div>
          <app-responsive-table></app-responsive-table>
        </div> -->
  <!--</div>
  </div> -->



  <ng-template #informationTmpl1 let-data="data">
    <p>{{data.name}}</p>
    <p>{{data.address}}</p>
  </ng-template>

  <ng-template #tableTmpl let-data="data" let-columns="columns" let-gridId="gridId">
    <div class="table-scroll" id="popup">
      <div class="table-wrap">
        <table class="main-table" id="main-table">
          <thead>
            <tr>
              <th *ngFor="let item of columns" scope="col" [class]='item?.class'>{{item.header}}</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="data?.length === 0">
              <tr>
                <td class="no-data-found" [attr.colspan]="columns.length">No Data found</td>
              </tr>
            </ng-container>
            <ng-container *ngIf="data?.length > 0">
              <tr *ngFor="let element of data; let ind=index" id='tr-{{ind}}-{{gridId}}'>
                <ng-container *ngFor="let column of columns">
                  <ng-container *ngIf="!column?.type">
                    <td [class]="column?.class">
                      {{element[column.field]}}
                    </td>
                  </ng-container>
                  <ng-container *ngIf="column?.type">
                    <td id="cell-{{ind}}-{{gridId}}" [class]='column?.class'>
                      <ng-container [ngTemplateOutlet]="controlTmpl"
                        [ngTemplateOutletContext]="{ type:column?.type, element:element, column: column, ind:ind, gridId:gridId}">
                      </ng-container>
                    </td>
                  </ng-container>
                </ng-container>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </ng-template>



  <ng-template #controlTmpl let-type='type' let-element='element' let-column='column' let-ind='ind' let-gridId="gridId">
    <ng-container [ngSwitch]="type">

      <ng-container *ngSwitchCase="'DATE_BOX'">
        <!-- <div class="sd-container">
          <input type="date" name='text-box-{{ind}}-{{gridId}}' class="date-box-{{ind}}-{{gridId}}"
              [(ngModel)]="element[column.field]"/>
          <span class="open-button">
            <button type="button">📅</button>
          </span>
        </div> -->
        <!-- <input type="date" name='text-box-{{ind}}-{{gridId}}' class="date-box-{{ind}}-{{gridId}}"
        [(ngModel)]="element[column.field]"/> -->
        <mat-form-field [appearance]="appearance">
          <input matInput [matDatepicker]="picker" name='date-box-{{ind}}-{{gridId}}' id='date-box-{{ind}}-{{gridId}}'
            [(ngModel)]="element[column.field]">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </ng-container>

      <ng-container *ngSwitchCase="'TEXT_BOX'">
        <input type="text" name='text-box-{{ind}}-{{gridId}}' class="text-box-{{ind}}-{{gridId}}"
          [keyFilter]='twoDigit2' validateOnly='true' vanish='true' [(ngModel)]="element[column.field]"
          (blur)='onBlur(element, column, ind)' />
      </ng-container>

      <ng-container *ngSwitchCase="'CHECK_BOX'">
        <input type="checkbox" class="text-box-{{ind}}-{{gridId}}" name='check-box-{{ind}}-{{gridId}}'
          class="check-box-{{ind}}-{{gridId}}" [(ngModel)]="element[column.field]" />
      </ng-container>

      <ng-container *ngSwitchCase="'ACTIONS'">
        <div class="action-section">
          <div class="btn-circle">
            <button class="btn-fab red" (click)="closeCell(element, column, ind, gridId)"><span
                class="btn-wrapper">+</span>
              <div class="btn-ripple"></div>
              <div class="btn-overlay"></div>
            </button>
          </div>
          <div class="chk-box">
            <!-- [(ngModel)]="element[column.field]" -->
            <input type="checkbox" name='action-chk-box-{{ind}}-{{gridId}}' id='action-chk-box-{{ind}}-{{gridId}}'
              class="action-chk-box-{{ind}}-{{gridId}}" [(ngModel)]="element[column.field]"
              (click)="onChkBoxChange($event, element, column, ind, gridId)" />
          </div>
        </div>

      </ng-container>

    </ng-container>

  </ng-template>


  <ng-template #dateCellTemplate let-element='element' let-column='column' let-ind='ind' let-gridId="gridId">
    <td>
      <input type="date" name='text-box-{{ind}}-{{gridId}}' class="text-box-{{ind}}-{{gridId}}" [keyFilter]='twoDigit2'
        validateOnly='true' vanish='true' [(ngModel)]="element[column.field]" (blur)='onBlur(element, column, ind)' />
    </td>
  </ng-template>

  <ng-template #numberCellTemplate let-element='element' let-column='column' let-ind='ind' let-gridId="gridId">
    <td>
      <!-- validateOnly='true' [keyFilter]='blockSpace'      keyFilter='pint' -->
      <input type="text" name='text-box-{{ind}}-{{gridId}}' class="text-box-{{ind}}-{{gridId}}" [keyFilter]='twoDigit2'
        validateOnly='true' vanish='true' [(ngModel)]="element[column.field]" (blur)='onBlur(element, column, ind)' />
    </td>
  </ng-template>

  <ng-template #chkboxCellTemplate let-element='element' let-column='column' let-ind='ind' let-gridId="gridId">
    <td>
      <input type="checkbox" class="text-box-{{ind}}-{{gridId}}" name='check-box-{{ind}}-{{gridId}}'
        class="check-box-{{ind}}-{{gridId}}" [(ngModel)]="element[column.field]" />
    </td>
  </ng-template>

  <ng-template #actionCellTemplate let-element='element' let-column='column' let-ind='ind' let-gridId="gridId">
    <td id="cell-{{ind}}" [class]='column?.class'>
      <div class="btn-circle">
        <button class="btn-fab red" (click)="closeCell(element, column, ind)"><span class="btn-wrapper">+</span>
          <div class="btn-ripple"></div>
          <div class="btn-overlay"></div>
        </button>
      </div>
      <div class="chk-box">
        <input type="checkbox" name='action-chk-box-{{ind}}-{{gridId}}' id='action-chk-box-{{ind}}-{{gridId}}'
          class="action-chk-box-{{ind}}-{{gridId}}" (click)="onChkBoxChange($event, element, column, ind)"
          [(ngModel)]="element[column.field]" />
      </div>
    </td>
  </ng-template>


</div>
