button {
  margin-top: 5%;
}
.title {
  text-align : center;
  margin-top: 20px;
}
.title .appname {
  font-weight: bold;
}
.boldFont {
  font-weight: bold;
}
.date {
  text-align : right;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-bottom: 10px;
}
th, td {
  padding: 5px;
  vertical-align: top;
}
p {
  margin: 0px;
}
.date {
  margin: 10px 0px 10px 0px;
}
.sdate {
  float : right;
}
