<div class="common-dailog-container">
  <div class="dynamic-table-section">
    <div class="row-align">
        <div><h4>Dynamic Table section</h4></div>
        <div>
          <button mat-raised-button (click)="actions.close()">Close</button>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="table-scroll">
      <app-html-table
        tblId='htmlTbl01'
        [columnsDef]="columnsDef"
        [data]="gridData"
      ></app-html-table>
    </div>

  </div>

  <ng-template #actionCellTemplate let-element='element' let-column='column' let-ind='ind' let-gridId="gridId">
    <span>SPan 1</span>
    <span>Span 2</span>
  </ng-template>
</div>








