$primaryColor  : #0075b0;

.common-dailog-container{
  display: flex;
  flex-direction: column;
//  :host{
  ::ng-deep{

    .table-container{
      th{
        background : $primaryColor !important;
        color      : #fff !important;
      }
    }
    .second-col {
      left: 131px !important;
    }
  }
//  }

// .table-scroll {
//   // transition: all 400ms ease-in-out;
//   // transform : scale(0.8);
//   position     : relative;
//   max-width    : 700px;
//   margin       : auto;
//   // margin    : 40px auto 40px auto;
//   overflow     : hidden;
//   // border    :1px solid #000;
//   // display   : flex;
// }


}
