$table-header       : #6d8dce;
$table-header-border: #6d8dce;
$table-border       : #d9d9d9;
$row-bg             : #f4f2f1;
$header-bg          : #1565C0;
$heighlighted-color : #faffbb;

.pipe-test-container {
  // display        : flex;
  // justify-content: space-between;
  // flex-wrap      : wrap;
  // flex-direction : row;
  // flex           : 1 1 100%;

  .main-container {
    display              : -webkit-box;
    display              : flex;
    -webkit-box-pack     : justify;
    justify-content      : space-between;
    flex-wrap            : wrap;
    -webkit-box-orient   : horizontal;
    -webkit-box-direction: normal;
    flex-direction       : row;
  }

  .left-container {
    display              : -webkit-box;
    display              : flex;
    -webkit-box-orient   : vertical;
    -webkit-box-direction: normal;
    flex-direction       : column;
    margin               : 0 2rem;
    -webkit-box-flex     : 1;
    flex                 : 1;
    flex-basis           : 20%;

    // ul {
    //   // margin-block-start  : 0.5rem;
    //   // margin-block-end    : 0.5rem;
    // }
  }

  .right-container {
    display              : -webkit-box;
    display              : flex;
    -webkit-box-orient   : vertical;
    -webkit-box-direction: normal;
    flex-direction       : column;
    margin               : 0 2rem;
    -webkit-box-flex     : 1;
    flex                 : 1;
  }

  .mat-divider {
    margin          : 1rem 0;
    border-top-color: #4484ff !important;
  }


  .numbers {
    display: -webkit-box;
    display: flex;
  }

  .error-container {
    -webkit-box-pack: start;
    justify-content : flex-start;

    span:nth-child(2) {
      color: red;
    }
  }

  .form-value-container {
    -webkit-box-pack: start;
    justify-content : flex-start;

    span:nth-child(2) {
      color: darkgreen;
    }
  }

  .action-container {
    .row-align {
      justify-content: space-around;
    }
  }

  .controls-container {
    li {
      &.msg-section {
        color: red !important;
        width: 12rem !important;
      }
    }
  }

  .heading-container {
    justify-content: space-around;

    .notify-container {
      position: relative !important;

      .notifications {
        position  : relative !important;
        background: #5783ac !important;

        ::after {
          left            : 50% !important;
          border-top-color: #5783ac !important;
        }

        .msg-section {
          color: #fff !important;
        }
      }
    }
  }

  .first-col {
    width    : 120px;
    min-width: 120px;
    max-width: 120px;
    left     : 0px;
  }

  .second-col {
    width          : 100px;
    min-width      : 100px;
    max-width      : 100px;
    left           : 142px;
    justify-content: space-around !important;
    // box-shadow  : 8px 0 10px -3px #888;
  }



  table {
    // th {
    //   background-color: $table-header;
    //   color           : white;
    // }

    tbody {
      min-height: 100px;
      max-height: 400px;

      tr {
        .sticky-col {
          td:nth-child(even) {
            background-color: #efefef;
          }
        }
      }

      .no-data-found {
        text-align: center;
        color     : red;
      }

      .cell-selected {
        background-color: $heighlighted-color !important;
      }
    }

    td {
      .chk-box {
        input[type="checkbox"i] {
          width : 19px;
          height: 19px;
        }
      }

      .mat-form-field-appearance-outline .mat-form-field-flex {
        padding: 0 0 0 0.5em !important;
      }

      .mat-form-field-appearance-outline .mat-form-field-wrapper {
        /* margin: .25em 0; */
        margin   : 0 !important;
      }

      .mat-form-field-wrapper {
        padding-bottom   : 1em !important;
        // padding-bottom: 0 !important;

        .mat-form-field-infix {
          width  : 5rem !important;
          padding: 0 !important;
        }

        .mat-form-field-underline {
          // height: 0 !important;
        }

      }

      .action-section {
        display        : flex;
        justify-content: space-evenly;
        align-items    : center;
        flex-wrap      : wrap;
        flex-direction : row;
      }
    }
  }


  .table-scroll table {
    width          : 100%;
    margin         : auto;
    border-collapse: separate;
    border-spacing : 0;
    // z-index     : 99 !important;
  }


  ::ng-deep {
    .ng-dirty .mat-form-field-outline {
      color: orange;
    }
    .ng-invalid .mat-form-field-outline {
      color: #bb0000;
    }
    // .mat-form-field-appearance-outline .mat-form-field-outline {
    //   //  color: orangered;
    //   color: orange;
    // }
    mat-form-field {
       .mat-hint, input, ::placeholder, .mat-form-field-label {
          // color: orange;
       }
    }
 }

}
