.row-align{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.less-more-container{
  .btn-show{
    cursor: pointer;
    &:hover{
      color: #ff1c00;
    }
  }
  .less-more-panel {
    margin: 1rem;
    &.more{
      // animation: more 0.6s ease-in-out 0s;
      // animation: more 0.6s cubic-bezier(0, 1, 0.5, 1) 0s;
      // 0, 1.59, 0.39, 0.58
      // 0, 1.59, 0.6, 0.78
      animation: more 1s cubic-bezier(0, 1.59, 0.6, 0.78) 0s;
      height: auto;
      overflow: visible;
    }
    &.less{
      animation: less 1s cubic-bezier(0, 1, 0.5, 1) 0s;
      height: 40px;
      overflow: hidden;
    }
    .btn-more{
      animation: more 0.6s ease-in-out 3s;
    }
  }
  .btn-panel{
    margin: 0 1rem;
  }
}


@keyframes less {
  0% {
    height: 10px;
    opacity: 0.1;
    // overflow: hidden;
  }
  100% {
    height: 40px;
    opacity: 1;
    // overflow: hidden;
  }
}

@keyframes more {
  0% {
    transform: translateY(-100%);
    opacity: .1;
    color: #dbdbdb;
  }
  50%{
    opacity: 0.4;
    color: #979797;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    color: #000000;
  }
}



.btn-circle{

  .red {
    // position: fixed;
    // bottom: 6rem;
    // right: 2.5rem;
    color: #fff;
    background-color: #ff1c00;
  }

  .btn-fab {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    min-width: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0;
    flex-shrink: 0;
    transition: background .4s cubic-bezier(.25,.8,.25,1), box-shadow 280ms cubic-bezier(.4,0,.2,1);
    box-sizing: border-box;
    // position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    // font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 100%;
    font-weight: 500;
    .btn-wrapper {
      // padding: 8px 0;
      display: inline-block;
      // transform: translate3d(0,0,0);
      transform: scale(1.5) rotate(36deg);
    }
  }


  .btn-ripple {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    overflow: hidden;
    border-radius: 50%;
    z-index: 1;
  }

  .btn-overlay {
    background-color: rgba(0,0,0,.12);
    border-radius: inherit;
    opacity: 0;
    transition: opacity .2s cubic-bezier(.35,0,.25,1),background-color .2s cubic-bezier(.35,0,.25,1);
  }


}
