<div class="less-more-container">
  <div class="less-more-panel" [ngClass]="[isShowLess ? 'less' : 'more']">
    <ng-container *ngFor="let item of list">
      <div class="row-align">
        <div class="elemnt">{{item.label}}</div>
        <div class="elemnt">{{item.value}}</div>
      </div>
    </ng-container>
    <!-- <span class="btn-show" (click)="toggelShowLessPanel()">{{isShowLess ? 'Show More' : 'Show Less'}} >></span> -->
  </div>
  <!-- [ngClass]="[isShowLess ? '' : 'btn-more']" -->
  <div class="btn-panel">
    <span class="btn-show" (click)="toggelShowLessPanel()">{{isShowLess ? 'Show More' : 'Show Less'}} >></span>
  </div>
</div>


<hr>


<div id="HTMLtoPDF">

  <h2>HTML to PDF</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <!-- <p dir="rtl">
    لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم مطبوعه ... بروشور او فلاير على سبيل المثال ... او نماذج مواقع انترنت ...

وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.

وخلافاَ للاعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني الكلاسيكي منذ العام 45 قبل الميلاد. من كتاب "حول أقاصي الخير والشر"
  </p> -->

  <div>
    <input type="text" name="lname" id="lname" value="Fardeen Ahmad">
  </div>

</div>

<!-- here we call the function that makes PDF -->
<a href="#" onclick="HTMLtoPDF()">Download PDF</a>

<hr>




<div class="btn-circle">
  <button class="btn-fab red"><span class="btn-wrapper">+</span>
    <div class="btn-ripple"></div>
    <div class="btn-overlay"></div>
  </button>
</div>
