<!-- <mat-table #table [dataSource]="dataSource">

    <ng-container *ngFor="let column of columns" [cdkColumnDef]="column.header">
      <mat-header-cell *cdkHeaderCellDef [style.flex]="column.width ? '0 0 ' + column.width + 'px' : null">{{ column.header }}</mat-header-cell>
      <mat-cell *cdkCellDef="let row" [style.flex]="column.width ? '0 0 ' + column.width + 'px' : null">{{ column.cell(row) }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table> -->

<div class="example-container mat-elevation-z8">
  <!-- <mat-table #table [dataSource]="dataSource">
      <ng-container *ngFor="let column of columnsDef; let colIndex = index" [matColumnDef]="column.field">
        <mat-header-cell *matHeaderCellDef>{{ column.title }}</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row[column.field] }}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table> -->
  <table mat-table [dataSource]="dataSource">
    <ng-container *ngFor="let col of columnsDef; let c=index;">
      <ng-container [matColumnDef]="col.field" [sticky]="col.fixed==='left'" [stickyEnd]="col.fixed==='right'">
        <th mat-header-cell *matHeaderCellDef
          [ngClass]="{'mat-table-sticky-left':col.fixed==='left','mat-table-sticky-right':col.fixed==='right'}"
          [ngStyle]="{'width':col.width,'min-width':col.width}">
          <span *ngIf="col.type!=='checkbox'">{{col.title}}</span>
        </th>
        <td mat-cell *matCellDef="let row; let r=index;"
          [ngClass]="{'mat-table-sticky-left':col.fixed==='left','mat-table-sticky-right':col.fixed==='right'}"
          [ngStyle]="{'width':col.width,'min-width':col.width}">
          {{ row[col.field] }}
        </td>
        <!-- <td mat-cell *matCellDef="let row; let r=index;"
          [ngClass]="{'mat-table-sticky-left':col.fixed==='left','mat-table-sticky-right':col.fixed==='right'}"
          [ngStyle]="{'width':col.width,'min-width':col.width}">
          <mat-checkbox *ngIf="col.type==='checkbox'" (click)="$event.stopPropagation()"
            (change)="$event ? singleToggle(row) : null" [checked]="selection.isSelected(row)"> </mat-checkbox>
            <mtx-grid-cell *ngIf="col.type!=='checkbox'" [data]="row" [col]="col"> </mtx-grid-cell>
          </td> -->
      </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  <!-- <table mat-table [dataSource]="dataSource">
      <ng-container *ngFor="let col of columns; let c=index;">
        <ng-container [matColumnDef]="col.index"
            [sticky]="col.fixed==='left'"
            [stickyEnd]="col.fixed==='right'">
          <th mat-header-cell *matHeaderCellDef
            [ngClass]="{'mat-table-sticky-left':col.fixed==='left','mat-table-sticky-right':col.fixed==='right'}"
            [ngStyle]="{'width':col.width,'min-width':col.width}">
            <mat-checkbox *ngIf="col.type==='checkbox'" (change)="$event ? actions.masterToggle() : null"
              [checked]="selection.hasValue() && actions.isAllSelected()"
              [indeterminate]="selection.hasValue() && !actions.isAllSelected()">
            </mat-checkbox>
             <span *ngIf="col.type!=='checkbox'">{{col.title}}</span>
          </th>
          <td mat-cell *matCellDef="let row; let r=index;"> {{ row[col] }}
          </td> -->
  <!-- <td mat-cell *matCellDef="let row; let r=index;"
          [ngClass]="{'mat-table-sticky-left':col.fixed==='left','mat-table-sticky-right':col.fixed==='right'}"
          [ngStyle]="{'width':col.width,'min-width':col.width}">
          <mat-checkbox *ngIf="col.type==='checkbox'" (click)="$event.stopPropagation()"
            (change)="$event ? singleToggle(row) : null" [checked]="selection.isSelected(row)"> </mat-checkbox>
            <mtx-grid-cell *ngIf="col.type!=='checkbox'" [data]="row" [col]="col"> </mtx-grid-cell>
          </td> -->
  <!-- </ng-container>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> -->
</div>


<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<!-- Main Table -->
<!-- <div class="mtx-data-grid-content">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="actions.handleSortChange($event)">
    <ng-container *ngFor="let col of columns; let c=index;">
      <ng-container [matColumnDef]="col.index"
          [sticky]="col.fixed==='left'"
          [stickyEnd]="col.fixed==='right'">
        <th mat-header-celln *matHeaderCellDefn
          [ngClass]="{'mat-table-sticky-left':col.fixed==='left','mat-table-sticky-right':col.fixed==='right'}"
          [ngStyle]="{'width':col.width,'min-width':col.width}" mat-sort-header [disabled]="!col.sort">
          <mat-checkbox *ngIf="col.type==='checkbox'" (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && actions.isAllSelected()"
            [indeterminate]="selection.hasValue() && !actions.isAllSelected()">
          </mat-checkbox>
           <span *ngIf="col.type!=='checkbox'">{{col.title}}</span>
        </th>
        <td mat-celln *matCellDef="let row; let r=index;"
          [ngClass]="{'mat-table-sticky-left':col.fixed==='left','mat-table-sticky-right':col.fixed==='right'}"
          [ngStyle]="{'width':col.width,'min-width':col.width}">
          <mat-checkbox *ngIf="col.type==='checkbox'" (click)="$event.stopPropagation()"
            (change)="$event ? singleToggle(row) : null" [checked]="selection.isSelected(row)"> </mat-checkbox>
            <mtx-grid-cell *ngIf="col.type!=='checkbox'" [data]="row" [col]="col"> </mtx-grid-cell>
        </td>
      </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div> -->
<!-- Paginator -->
<!-- <mat-paginator [showFirstLastButtons]="showFirstLastButtons" [length]="length" [pageIndex]="pageIndex"
  [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [hidePageSize]="hidePageSize" (page)="page.emit($event)"
  [disabled]="pageDisabled">
</mat-paginator> -->



<!-- Progress Bar-->
<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<!-- Main Table -->
<!--
<div class="mtx-data-grid-content" *ngIf="false">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="handleSortChange($event)">
    <ng-container *ngFor="let col of columns; let c=index;">
      <ng-container [matColumnDef]="col.index" [sticky]="col.fixed==='left'" [stickyEnd]="col.fixed==='right'">
        <th mat-header-cell *matHeaderCellDef
          [ngClass]="{'mat-table-sticky-left':col.fixed==='left','mat-table-sticky-right':col.fixed==='right'}"
          [ngStyle]="{'width':col.width,'min-width':col.width}" mat-sort-header [disabled]="!col.sort">
          <mat-checkbox *ngIf="col.type==='checkbox'" (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
          <span *ngIf="col.type!=='checkbox'">{{col.title}}</span>
        </th>
        <td mat-celln *matCellDef="let row; let r=index;"
          [ngClass]="{'mat-table-sticky-left':col.fixed==='left','mat-table-sticky-right':col.fixed==='right'}"
          [ngStyle]="{'width':col.width,'min-width':col.width}">
          <mat-checkbox *ngIf="col.type==='checkbox'" (click)="$event.stopPropagation()"
            (change)="$event ? singleToggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox> -->
          <!-- <mtx-grid-cell *ngIf= "col.type!=='checkbox'"
                     [data]= "row" [col]= "col">
                    </mtx-grid-cell> -->
          <!-- Editable Cell -->
          <!---
          <ng-container *ngIf="col.edit; else uneditTpl"></ng-container>
        </td>
      </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div> -->
<!-- Paginator -->
<!--
<mat-paginator [showFirstLastButtons]="showFirstLastButtons" [length]="length" [pageIndex]="pageIndex"
  [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [hidePageSize]="hidePageSize" (page)="page.emit($event)"
  [disabled]="pageDisabled">
</mat-paginator>
-->

<!-- Uneditable Cell -->
<!--
<ng-template #uneditTpl let-col='col' let-colValue='data'>
  <div [ngSwitch]="col.type">
    -->
    <!-- Tag -->
    <!--
    <ng-container *ngSwitchCase="'tag'">
      <mat-chip-list *ngIf="col.tag[colValue]; else tagEmptyTpl">
        <mat-chip color="primary" [ngClass]="['bg-' + col.tag[colValue].color]">
          {{col.tag[colValue].text}}
        </mat-chip>
      </mat-chip-list>
      <ng-template #tagEmptyTpl>{{colValue}}</ng-template>
    </ng-container>
  -->
    <!-- Image -->
    <!--
    <ng-container *ngSwitchCase="'img'">
      <img class="img" [src]="colValue" (click)="preview(colValue)">
    </ng-container>
  -->
    <!-- Link -->
    <!--
    <ng-container *ngSwitchCase="'link'">
      <a [href]="colValue" target="_blank">{{colValue}}</a>
    </ng-container>
  -->
    <!-- Buttons -->
    <!--
    <ng-container *ngSwitchCase="'button'">
      <ng-container *ngFor="let btn of col.buttons; index as i; last as isLast;">
        <ng-container *ngIf="!btn.iif || btn.iif(data)">
          <button *ngIf="btn.pop; else btnDefaultTpl" mat-icon-buttonn [color]="btn.color || 'primary'"
            [matTooltip]="btn.tooltip" (click)="confirm(btn.popTitle, btn.click, data)">
            <mat-icon class="icon-18">{{btn.icon}}</mat-icon>
          </button>
          <ng-template #btnDefaultTpl>
            <button mat-icon-buttonn [color]="btn.color || 'primary'" [matTooltip]="btn.tooltip"
              (click)="btn.click(data)">
              <mat-icon class="icon-18">{{btn.icon}}</mat-icon>
            </button>
          </ng-template>
        </ng-container>
      </ng-container>
    </ng-container>
  -->
    <!-- Format -->
    <!--
    <ng-container *ngSwitchCase="'format'">
      <span [innerHTML]="col.format(data) || '--'"></span>
    </ng-container>
  -->
    <!-- Number -->
    <!--
    <ng-container *ngSwitchCase="'number'">
      {{(colValue | number:'1.2-2') || '--'}}
    </ng-container>
  -->
    <!-- Currency -->
    <!--
    <ng-container *ngSwitchCase="'currency'">
      {{(colValue | currency:'u00A5') || '--'}}
    </ng-container>
  -->
    <!-- Percent -->
    <!--
    <ng-container *ngSwitchCase="'percent'">
      {{(colValue | percent) || '--'}}
    </ng-container>
  -->
    <!-- Default -->
    <!--
    <ng-container *ngSwitchDefault>
      {{colValue || '--'}}
    </ng-container>
  </div>
</ng-template>
-->

