<div class="container-fluid" style="margin-top: 10px">

  <div class="table-row header">
    <div class="wrapper text-4">
      <div class="wrapper text-2">
        <div class="text">First Name</div>
        <div class="text">Last Name</div>
      </div>
      <div class="wrapper text-2">
        <div class="text">Email</div>
        <div class="text">Birthday</div>
      </div>
    </div>
    <div class="wrapper num-4">
      <div class="wrapper num-2">
        <div class="num">Min</div>
        <div class="num">Max</div>
      </div>
      <div class="wrapper num-2">
        <div class="num">Avg</div>
        <div class="num">Last</div>
      </div>
    </div>
  </div>

  <div class="table-row">
    <div class="wrapper text-4">
      <div class="wrapper text-2">
        <div class="text">Vasan</div>
        <div class="text">Subramanian Uttar pradesh India working in united state of america</div>
      </div>
      <div class="wrapper text-2">
        <div class="text" title="vasan@example.com">vasan@example.com</div>
        <div class="text">January 14, 1996</div>
      </div>
    </div>
    <div class="wrapper num-4">
      <div class="wrapper num-2">
        <div class="num">1,024</div>
        <div class="num">65,536</div>
      </div>
      
      <div class="wrapper num-2">
        <div class="num">5,120</div>
        <div class="num">7,680</div>
      </div>
    </div>
  </div>

  <div class="table-row">
    <div class="wrapper text-4">
      <div class="wrapper text-2">
        <div class="text">Firstname</div>
        <div class="text">Lastname</div>
      </div>
      <div class="wrapper text-2">
        <div class="text" title="ns@example.org">ns@example.org</div>
        <div class="text">February 31, 1948</div>
      </div>
    </div>
    <div class="wrapper num-4">
      <div class="wrapper num-2">
        <div class="num">2,484</div>
        <div class="num">5,536</div>
      </div>
      
      <div class="wrapper num-2">
        <div class="num">87</div>
        <div class="num">785</div>
      </div>
    </div>
  </div>
  
  <div class="table-row">
    <div class="wrapper text-4">
      <div class="wrapper text-2">
        <div class="text">Example</div>
        <div class="text">McDude</div>
      </div>
      <div class="wrapper text-2">
        <div class="text" title="N/A">--</div>
        <div class="text">December 31, 1960</div>
      </div>
    </div>
    <div class="wrapper num-4">
      <div class="wrapper num-2">
        <div class="num">0</div>
        <div class="num">249,846</div>
      </div>
      
      <div class="wrapper num-2">
        <div class="num">45,529</div>
        <div class="num">6,687</div>
      </div>
    </div>
  </div>
  
</div>