<ng-container>
  <div class="dynamic-template-container modal-container" id="modalContainer">
    <div class="modal-backdrop"></div>
    <!-- [@zoomInUpOnEnter] [@zoomOutUpOnLeave] -->
    <div class="model-content" id="modalContent">
      <div class="model-heaer row-align">
        <span class="title">&nbsp;{{popupTitle}}&nbsp;</span>
        <span class="close" title="close" (click)="close()">&times;</span>
      </div>
      <div class="modal-body model-dynamic-body" id="modalBody">
        <section *ngIf="extraTemplate">
          <div class="box-container">
            <h3 class="title tinner">{{extraTemplate.title}}</h3>
            <!-- [ngComponentOutletContent]="{...extraTemplate.templateProperties}" -->
            <ng-container
              [ngTemplateOutlet]="extraTemplate.content">
            </ng-container>
          </div>
        </section>
        <section>
          <div class="box-container">
            <h3 class="title tinner">{{conatentTitle}}</h3>
            <ng-content></ng-content>
          </div>
        </section>
        <!-- <section *ngIf="multipleNgContents && multipleNgContents.length > 0">
          <div class="box-container" *ngFor="let item of multipleNgContents">
            <h3 class="title tinner">{{item.title}}</h3>
            <ng-content *ngTemplateOutlet="item.content; context : {properties : item.templateProperties, title: item.title}"></ng-content>
          </div>
        </section> -->
        <!-- <div appInsertion></div> -->
      </div>
      <div class="model-footer"></div>
    </div>
  </div>
</ng-container>


<!-- <ng-container *ngSwitchCase="'zoomInUpOutUp'">
  <app-angular-img *ngIf="state" [@zoomInUpOnEnter] [@zoomOutUpOnLeave]></app-angular-img>
</ng-container> -->
