<ng-container  >
  <div class="modal-container" id="modalContainer">
    <div class="modal-backdrop"></div>
     <!-- [@zoomInUpOnEnter] [@zoomOutUpOnLeave] -->
    <div class="model-content" id="modalContent" [@hingeOnLeave]>
      <div class="model-heaer row-align" >
        <span class="title">&nbsp;{{title}}&nbsp;</span>
        <span class="close" title="close" (click)="close()">&times;</span>
      </div>
      <div class="modal-body" id="modalBody">
        <ng-content></ng-content>
        <!-- <div appInsertion></div> -->
        <div #templateRenderer></div>
      </div>
      <div class="model-footer"></div>
    </div>
  </div>
</ng-container>


<!-- <ng-container *ngSwitchCase="'zoomInUpOutUp'">
  <app-angular-img *ngIf="state" [@zoomInUpOnEnter] [@zoomOutUpOnLeave]></app-angular-img>
</ng-container> -->