<br><br>

<button type="button" (click)="copyToClipboard()" style="float: right;">Copy to clipboard</button>

<br><br><br>

<table id="divtbl">
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
</table>

<!-- <table id="divtbl" style="font-family: arial, sans-serif;border-collapse: collapse;width: 100%;">
  <tr>
    <th style='border: 1px solid #dddddd; text-align: left; padding: 8px;'>Company</th>
    <th style='border: 1px solid #dddddd; text-align: left; padding: 8px;'>Contact</th>
    <th style='border: 1px solid #dddddd; text-align: left; padding: 8px;'>Country</th>
  </tr>
  <tr>
    <td style='border: 1px solid #dddddd; text-align: left; padding: 8px;'>Alfreds Futterkiste</td>
    <td style='border: 1px solid #dddddd; text-align: left; padding: 8px;'>Maria Anders</td>
    <td style='border: 1px solid #dddddd; text-align: left; padding: 8px;'>Germany</td>
  </tr>
  <tr>
    <td style='border: 1px solid #dddddd; text-align: left; padding: 8px;'>Centro comercial Moctezuma</td>
    <td style='border: 1px solid #dddddd; text-align: left; padding: 8px;'>Francisco Chang</td>
    <td style='border: 1px solid #dddddd; text-align: left; padding: 8px;'>Mexico</td>
  </tr>
  <tr>
    <td style='border: 1px solid #dddddd; text-align: left; padding: 8px;'>Ernst Handel</td>
    <td style='border: 1px solid #dddddd; text-align: left; padding: 8px;'>Roland Mendel</td>
    <td style='border: 1px solid #dddddd; text-align: left; padding: 8px;'>Austria</td>
  </tr>
  <tr>
    <td style='border: 1px solid #dddddd; text-align: left; padding: 8px;'>Island Trading</td>
    <td style='border: 1px solid #dddddd; text-align: left; padding: 8px;'>Helen Bennett</td>
    <td style='border: 1px solid #dddddd; text-align: left; padding: 8px;'>UK</td>
  </tr>
  <tr>
    <td style='border: 1px solid #dddddd; text-align: left; padding: 8px;'>Laughing Bacchus Winecellars</td>
    <td style='border: 1px solid #dddddd; text-align: left; padding: 8px;'>Yoshi Tannamuri</td>
    <td style='border: 1px solid #dddddd; text-align: left; padding: 8px;'>Canada</td>
  </tr>
  <tr>
    <td style='border: 1px solid #dddddd; text-align: left; padding: 8px;'>Magazzini Alimentari Riuniti</td>
    <td style='border: 1px solid #dddddd; text-align: left; padding: 8px;'>Giovanni Rovelli</td>
    <td style='border: 1px solid #dddddd; text-align: left; padding: 8px;'>Italy</td>
  </tr>
</table> -->

<!-- <table id="divtbl" border="2">
  <tr>
    <th style="background-color: #3366ff;" colspan="2">Company</th>
    <th style="background-color: #3366ff;" colspan="2">Contact</th>
    <th style="background-color: #3366ff;" colspan="2">Country</th>
  </tr>
  <tr>
    <td colspan="2" style="background-color: #99ccff;">Alfreds Futterkiste</td>
    <td colspan="2" style="background-color: #99ccff;">Maria Anders</td>
    <td colspan="2" style="background-color: #99ccff;">Germany</td>
  </tr>
  <tr>
    <td colspan="2" style="background-color: #99ccff;">Centro comercial Moctezuma</td>
    <td colspan="2" style="background-color: #99ccff;">Francisco Chang</td>
    <td colspan="2" style="background-color: #99ccff;">Mexico</td>
  </tr>
  <tr>
    <td colspan="2" style="background-color: #99ccff;">Ernst Handel</td>
    <td colspan="2" style="background-color: #99ccff;">Roland Mendel</td>
    <td colspan="2" style="background-color: #99ccff;">Austria</td>
  </tr>
  <tr>
    <td colspan="2" style="background-color: #99ccff;">Island Trading</td>
    <td colspan="2" style="background-color: #99ccff;">Helen Bennett</td>
    <td colspan="2" style="background-color: #99ccff;">UK</td>
  </tr>
  <tr>
    <td colspan="2" style="background-color: #99ccff;">Laughing Bacchus Winecellars</td>
    <td colspan="2" style="background-color: #99ccff;">Yoshi Tannamuri</td>
    <td colspan="2" style="background-color: #99ccff;">Canada</td>
  </tr>
  <tr>
    <td colspan="2" style="background-color: #99ccff;">Magazzini Alimentari Riuniti</td>
    <td colspan="2" style="background-color: #99ccff;">Giovanni Rovelli</td>
    <td colspan="2" style="background-color: #99ccff;">Italy</td>
  </tr>
</table> -->