<div class="main-container">
    <!-- <app-js-pdf></app-js-pdf> -->

    <!-- <input type="text" [(ngModel)]="money" name="money" id="money" keyFilter="money7" [pValidateOnly]="true"> -->
    <!-- <input type="text" [(ngModel)]="money" name="money" id="money" keyFilter="money7" [regExpValidate]="true"> -->

    <!-- <app-html-tree-view></app-html-tree-view> -->

    <app-material-grid></app-material-grid>

    <!-- <app-copy-to-clipboard></app-copy-to-clipboard> -->

    <!-- <app-treeview-table></app-treeview-table> -->

    <!-- <app-flex-table2></app-flex-table2> -->
    <!-- <hr> -->
    <!-- <app-flex-table></app-flex-table> -->

    <!-- <app-flex-table3></app-flex-table3> -->

    <!-- <app-notification> </app-notification> -->

    <!-- <app-spinner></app-spinner> -->

    <!-- <app-demo-on-enter-on-leave></app-demo-on-enter-on-leave> -->

    <!-- <app-popup2></app-popup2>    -->

    <!-- <app-demo-dynamic-params></app-demo-dynamic-params> -->

    <app-dynamic-templates></app-dynamic-templates>

    <!-- <app-editable-pdf></app-editable-pdf> -->



</div>
